:root {
  --violet: #ff7b1e; 
  --blue: #202423;
}

#indexHead {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1500px;
}

.space {
  height: 600px;
}

.orb {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  /* Changed to absolute for centering */
  left: 50%;
  /* Center horizontally */
  top: 50%;
  /* Center vertically */
  transform: translate(-50%, -50%);
  /* Adjust to the exact center */
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 60px var(--violet),
    inset -20px 0 60px var(--blue),
    inset 20px 0 300px var(--violet),
    inset -20px 0 300px var(--blue),
    0 0 50px #fff,
    -10px 0 60px var(--violet),
    10px 0 60px var(--blue);
}