/* styles/globals.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.light {
  --bg-color: #fff;
  --text-color: #000;
}

.dark {
  --bg-color: #333;
  --text-color: #fff;
}

.layout {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1rem;
  background: var(--bg-color);
  color: var(--text-color);
}

.footer {
  padding: 1rem;
  background: var(--bg-color);
  color: var(--text-color);
  margin-top: auto;
}

/* styles/globals.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* other styles */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center-align content */
  justify-content: center; /* Vertically center-align content */
  flex-grow: 1; /* Allow content to expand to fill available space */
}