/* styles/Layout.module.css */
.layout {
    background-color: white;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .layout.dark {
    background-color: black;
    color: white;
  }
  
  .main {
    flex-grow: 1;
  }
  